button{
    font-size:18px;
    font-family:Trebuchet;
    width:auto;
    padding:5px 15px;
    line-height:20px;
    letter-spacing:3px;
    border:none;
    background-color: white;
}
button:hover{
    cursor:pointer;
    background-color:rgb(206, 206, 206);
}
.sticky{
    position: sticky;
    top:0;
    padding:5px;
    box-shadow:0px 0px 3px;
    margin:-8px;
    z-index:20;
}
.flex1{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.center{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    font-size:36px;
    letter-spacing:5px;
    font-family:verdana;
    color:rgb(255, 245, 245)
}
.flex2{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap:wrap;
}
.imgtext{
    position:absolute;
    background-color:black;
    color:white;
    font-size:18px;
    padding:10px;
}
.contactbutton{
    background-color:rgb(235, 231, 231);
    border:none;
    width:350px;
    font-size:15px;
    font-family:verdana;
    margin-top:15px;
    letter-spacing: 0px;
    padding:15px 30px;
    cursor:pointer;
}
.contactbutton:hover{
    background-color:rgb(206, 201, 201);
}
.flexflex{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
}
.flexforinput{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputclass{
    width:100%;
    margin:auto;
    height:20px;
    padding:10px;
    font-size:16px;
}
.messagebutton{
    background-color:black;
    border:none;
    color:white;
    width:160px;
    font-size:15px;
    font-family:verdana;
    margin-top:10px;
    letter-spacing: 0px;
    padding:10px;
    cursor:pointer;
    line-height:15px;
}
.lastflex{
    display:flex;
    flex-direction:column;
    margin:auto;
}